---
import '../styles/global.css';
import Defaultlayout from '../layouts/Defaultlayout.astro';
---

<script async src="https://cpwebassets.codepen.io/assets/embed/ei.js"></script>

<Defaultlayout class="section">
  <a class="homeBtn" href="/">Home</a>
  <h1>Form</h1>
  <div class="container">
    <h2>Stor form med validering</h2>
    <p
      class="codepen"
      data-height="500"
      data-theme-id="dark"
      data-default-tab="html,result"
      data-slug-hash="KKojBdK"
      data-preview="true"
      data-editable="true"
      data-user="dkkmartin"
      style="height: 300px; box-sizing: border-box; display: flex; align-items: center; justify-content: center; border: 2px solid; margin: 1em 0; padding: 1em;"
    >
      <span
        >See the Pen <a href="https://codepen.io/dkkmartin/pen/KKojBdK"> Untitled</a> by dkkmartin (<a
          href="https://codepen.io/dkkmartin">@dkkmartin</a
        >) on <a href="https://codepen.io">CodePen</a>.</span
      >
    </p>
    <p class="para">Eksempel på en form med validering</p>
  </div>
  <div class="container">
    <h2>Mellem form med validering</h2>
    <p
      class="codepen"
      data-height="500"
      data-theme-id="dark"
      data-default-tab="html,result"
      data-slug-hash="KKojBdK"
      data-preview="true"
      data-editable="true"
      data-user="dkkmartin"
      style="height: 300px; box-sizing: border-box; display: flex; align-items: center; justify-content: center; border: 2px solid; margin: 1em 0; padding: 1em;"
    >
      <span
        >See the Pen <a href="https://codepen.io/dkkmartin/pen/KKojBdK"> Untitled</a> by dkkmartin (<a
          href="https://codepen.io/dkkmartin">@dkkmartin</a
        >) on <a href="https://codepen.io">CodePen</a>.</span
      >
    </p>
    <p class="para">Eksempel på en form med validering</p>
  </div>
  <div class="container">
    <h2>Lille form med validering</h2>
    <p
      class="codepen"
      data-height="500"
      data-theme-id="dark"
      data-default-tab="html,result"
      data-slug-hash="KKojBdK"
      data-preview="true"
      data-editable="true"
      data-user="dkkmartin"
      style="height: 300px; box-sizing: border-box; display: flex; align-items: center; justify-content: center; border: 2px solid; margin: 1em 0; padding: 1em;"
    >
      <span
        >See the Pen <a href="https://codepen.io/dkkmartin/pen/KKojBdK"> Untitled</a> by dkkmartin (<a
          href="https://codepen.io/dkkmartin">@dkkmartin</a
        >) on <a href="https://codepen.io">CodePen</a>.</span
      >
    </p>
    <p class="para">Eksempel på en form med validering</p>
  </div>
</Defaultlayout>

<style>
  .section {
    display: flex;
    flex-direction: column;
    gap: 3em;
  }

  .container {
    display: flex;
    flex-direction: column;
    gap: 1em;
  }

  .homeBtn {
    font-size: 3em;
    color: #e0e1dd;
    position: absolute;
    right: 1em;
    border: 2px solid #1b263b;
    border-radius: 20px;
    padding: 2rem;
    cursor: pointer;
    transition: all 0.15s ease-in-out;
  }

  .homeBtn:hover {
    transform: scale(1.05);
    background-color: #262f40;
  }
</style>
