---
import '../styles/global.css';
import Defaultlayout from '../layouts/Defaultlayout.astro';
import Codeblock from '../layouts/Codeblock.astro';
---

<script async src="https://cpwebassets.codepen.io/assets/embed/ei.js"></script>

<Defaultlayout class="section">
  <a class="homeBtn" href="/">Home</a>
  <h1>Gallerier</h1>
  <div class="container">
    <h2>Read more knap</h2>
    <Codeblock link="https://codepen.io/dkkmartin/pen/KKojBdK" />
    <p class="para">Eksempel på et galleri med arrows</p>
  </div>
  <div class="container">
    <h2>Galleri med thumbnails</h2>
    <Codeblock link="https://codepen.io/dkkmartin/pen/KKojBdK" />
    <p class="para">Eksempel på et galleri med thumbnails</p>
  </div>
  <div class="container">
    <h2>Galleri lightbox</h2>
    <Codeblock link="https://codepen.io/dkkmartin/pen/KKojBdK" />
    <p class="para">Eksempel på et galleri med lightbox</p>
  </div>
</Defaultlayout>

<style>
  .section {
    display: flex;
    flex-direction: column;
    gap: 3em;
  }

  .container {
    display: flex;
    flex-direction: column;
    gap: 1em;
  }

  .homeBtn {
    font-size: 3em;
    color: #e0e1dd;
    position: absolute;
    right: 1em;
    border: 2px solid #1b263b;
    border-radius: 20px;
    padding: 2rem;
    cursor: pointer;
    transition: all 0.15s ease-in-out;
  }

  .homeBtn:hover {
    transform: scale(1.05);
    background-color: #262f40;
  }
</style>
