---
---

<script>
  import hljs from 'highlight.js';
  const codeHtml = document.querySelector('.code__block__html');
  const codeCss = document.querySelector('.code__block__css');
  const codeJs = document.querySelector('.code__block__js');
  const codeBlocks = [codeHtml, codeCss, codeJs];
  const codesGallery = [
    `<section>
  <figure>
    <img src="" alt="" id="photo-lrg" />
  </figure>
  <div class="pile">
    <i id="prev" class="fas fa-chevron-circle-left"></i>
    <i id="next" class="fas fa-chevron-circle-right"></i>
  </div>
</section>`,
    `/*** OVERLAY / LIGHTHOUSE ***/

.--hide {
  display: none;
}

.overlay {
  width: 100vw;
  height: 100vh;
  position: fixed;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 1;
}

.big__image {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  max-width: 100%;
  height: auto;
}

.big__image__src {
  max-width: 100%;
  height: auto;
  border: 1px solid white;
}

.big__image__para {
  color: #fff;
  font-family: 'Open sans', sans-serif;
  font-size: 20px;
  text-align: center;
}

.gallery__image {
  max-width: 100%;
  height: auto;
  object-fit: cover;
}

.thumbnails__container {
  max-width: 1000px;
  height: 100vh;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 300px));
  gap: 1em;
  justify-content: center;
  align-content: center;
}

.gallery__image__container {
  display: grid;
  grid-template-rows: 1fr;
  cursor: pointer;
}`,
    `let index = 1;

const bigImg = document.querySelector("#photo-lrg");

const leftArrow = document.querySelector("#prev");
const rightArrow = document.querySelector("#next");

leftArrow.addEventListener("click", showPrev);
rightArrow.addEventListener("click", showNext);

function showPrev() {
    if (index > 1) {
        index--; // betyder index-1
    }
    else {
        index = 6;
    }
    changePhoto();
}

function showNext() {
    if (index < 6) {
        index++; // betyder index+1
    }
    else {
        index = 1;
    }
    changePhoto();
}

document.onkeydown = function (event) {

    if (event.code === "ArrowLeft") {  // der er klikket på 'venstre-pilen'
        if (index > 1) {
            index--; // betyder tæl op med 1
        }
        else {
            index = 6;
        }
        changePhoto();
    } else if (event.code === "ArrowRight") {  // der er klikket på højre-pilen'
        if (index < 6) {
            index++; // betyder tæl op med 1
        }
        else {
            index = 1;
        }
        changePhoto();
    }
};

function changePhoto() {
    let newSrc = "INSERT_PATH" + index + ".jpg";
    bigImg.setAttribute("src", newSrc);
}`,
  ];
  for (let index = 0; index < codeBlocks.length; index++) {
    codeBlocks[index].innerHTML = hljs.highlightAuto(codesGallery[index]).value;
  }
</script>

<section class="myCodeBlock">
  <button class="showCode">Show raw codes</button>
  <h2>HTML</h2>
  <pre><code class="code__block__html" /></pre>

  <h2>CSS</h2>
  <pre><code class="code__block__css" /></pre>

  <h2>JS</h2>
  <pre><code class="code__block__js" /></pre>
</section>

<style>
  .--hide {
    display: none;
  }

  pre {
    border: 2px solid #1b263b;
    border-radius: 20px;
    padding: 2rem;
    background-color: #25282f;
    overflow: auto;
  }
</style>
